<md-toolbar layout="row" layout-align="center center">

    <md-button class="menu" ng-click="vm.toggleList()" aria-label="Show menu">
  		<md-icon md-font-library="material-icons">menu</md-icon>
    </md-button>
  <md-button class="acme-navbar-text">ZLIMS v0.5 version was created {{ vm.relativeDate }}.</md-button>
  <section flex layout="row" layout-align="right center">
  </section>

    </md-button>
        <md-button class="acme-navbar-text" aria-label="help">
    	<md-icon class="material-icons">translate</md-icon>
    </md-button>
    <md-button class="acme-navbar-text" aria-label="account">
        <md-icon class="material-icons">account_box</md-icon>
    </md-button>
    <md-button class="acme-navbar-text" aria-label="help">
    	<md-icon class="material-icons">help</md-icon>

</md-toolbar>
