<header>
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
</header>
<main class='md-padding md-primary' layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
        <md-list>
            <md-item ng-repeat="item in main.menu">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            <md-icon md-font-library="material-icons">{{item.icon}}</md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            <md-divider></md-divider>
            <md-subheader>Management</md-subheader>
            <md-item ng-repeat="item in main.admin">
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            <md-icon md-font-library="material-icons">{{item.icon}}</md-icon>
                        </div>
                        <div class="inset">{{item.title}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
        </md-list>
        <md-menu-sidenav>
            <md-menu-sidenav-item>
                <md-menu-sidenav-title>
                    <md-toogle-menu layout="row" flex>
                        <md-icon flex="15">photo_library</md-icon>
                        <h1 class="md-body-2" flex>RESOURCE</h1>
                    </md-toogle-menu>
                    <md-icon flex="15">pause</md-icon>
                </md-menu-sidenav-title>
                <md-menu-sidenav-content>
                    <md-menu-sidenav-subitem>
                        <a ui-sref="home.resource">
                        <md-icon flex="15" class="md-raised">chevron_right</md-icon>
                        RESOURCEINSTANCE
                        </a>
                    </md-menu-sidenav-subitem>
                    <md-menu-sidenav-subitem>
                     <a ui-sref="home">
                        <md-icon flex="15" ui-sref="home.resource" class="md-raised">chevron_right</md-icon>
                        RESOURCEINSTANCE
                        </a>
                    </md-menu-sidenav-subitem>
                </md-menu-sidenav-content>
            </md-menu-sidenav-item>
            <md-divider></md-divider>
            <md-menu-sidenav-item>
                <md-menu-sidenav-title>
                    <md-toogle-menu layout="row" flex>
                        <md-icon flex="15">brightness_5</md-icon>
                        <h1 class="md-body-2" flex>Regent</h1>
                        <md-icon flex="15">pause</md-icon>
                    </md-toogle-menu>
                </md-menu-sidenav-title>
                <md-menu-sidenav-content>
                    <md-menu-sidenav-subitem>
                        <md-icon flex="15">chevron_right</md-icon>Regent Item 1</md-menu-sidenav-subitem>
                    <md-menu-sidenav-subitem>
                        <md-icon flex="15">chevron_right</md-icon>Regent Item 2</md-menu-sidenav-subitem>
                    <md-menu-sidenav-subitem>
                        <md-icon flex="15">chevron_right</md-icon>Regent Item 3</md-menu-sidenav-subitem>
                    <md-menu-sidenav-subitem>
                        <md-icon flex="15">chevron_right</md-icon>Regent Item 4</md-menu-sidenav-subitem>
                </md-menu-sidenav-content>
            </md-menu-sidenav-item>
            <md-divider></md-divider>
        </md-menu-sidenav>
    </md-sidenav>
    <div flex>
        <div layout="column" flex>
            <md-card class="md-whiteframe-1dp">
                <div class="md-toolbar-tools">
                    <md-button class="menu" ng-click="main.toggleList()" aria-label="Show menu">
                        <md-icon md-font-library="material-icons">home</md-icon>
                    </md-button>
                    <div class="md-headline">Home/resource/reousrcetempalte</div>
                </div>
            </md-card>
            <main layout-padding layout="row" flex>
                <md-content flex id="content">
                    <div class="fade-view" ui-view="">
                    </div>
                </md-content>
            </main>
        </div>
    </div>
</main>
<footer>
    <div layout="row" layout-align="center center">
        <h2>My Awesome Footer</h2>
    </div>
</footer>
